*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background:rgb(229, 145, 145);
  margin: 0;
  padding: 20px;
  text-align: center;
}
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  display: inline-block;
  width: 400px;
}
input {
  margin: 10px;
  padding: 8px;
  width: 90%;
}
button {
  background: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #45a049;
}
h1, h2 {
  color: #333;
}